<a href="https://colab.research.google.com/github/TunaInABottle/data_mining_2022/blob/main/Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
!git clone https://github.com/TunaInABottle/data_mining_2022.git

fatal: destination path 'data_mining_2022' already exists and is not an empty directory.

In [20]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [21]:
!pip install turicreate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: turicreate in /usr/local/lib/python3.8/dist-packages (6.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from turicreate) (1.21.6)
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.8/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from turicreate) (1.7.3)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.8/dist-packages (from turicreate) (1.3.5)
Requirement already satisfied: resampy==0.2.1 in /usr/local/lib/python3.8/dist-packages (from turicreate) (0.2.1)
Requirement already satisfied: numba<0.51.0 in /usr/local/lib/python3.8/dist-packages (from turicreate) (0.50.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from turicreate) (1.15.0)
Requirement already satisfied: coremltools==4.0b3 in /usr/local/lib/python3.8/dist-packages (from turicreate) (4.0b3)
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.8/dist-packages (from turicreate) (7.1.2)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.8/dist-packages (from turicreate) (2.25.1)
Requirement already satisfied: tensorflow>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from turicreate) (2.9.2)
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.8/dist-packages (from turicreate) (4.4.2)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from coremltools==4.0b3->turicreate) (3.19.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from coremltools==4.0b3->turicreate) (4.64.1)
Requirement already satisfied: sympy in /usr/local/lib/python3.8/dist-packages (from coremltools==4.0b3->turicreate) (1.7.1)
Requirement already satisfied: attrs in /usr/local/lib/python3.8/dist-packages (from coremltools==4.0b3->turicreate) (22.2.0)
Requirement already satisfied: attr in /usr/local/lib/python3.8/dist-packages (from coremltools==4.0b3->turicreate) (0.3.2)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in /usr/local/lib/python3.8/dist-packages (from numba<0.51.0->turicreate) (0.33.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba<0.51.0->turicreate) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.2->turicreate) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.2->turicreate) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.9.1->turicreate) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.9.1->turicreate) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.9.1->turicreate) (2.10)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.51.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (0.29.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.6.3)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (0.2.0)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (2.9.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.1.2)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (15.0.6.1)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.12)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (2.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (21.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.3.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (2.9.1)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (1.14.1)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (2.9.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (4.4.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0.0->turicreate) (0.4.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0.0->turicreate) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (2.16.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (0.6.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow>=2.0.0->turicreate) (3.0.9)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.8/dist-packages (from sympy->coremltools==4.0b3->turicreate) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (5.2.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow>=2.0.0->turicreate) (3.2.2)

In [22]:
from __future__ import print_function # to conform python 2.x print to python 3.x
import turicreate
import sys
import os
from scipy.sparse import csr_matrix
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

%matplotlib inline

In [23]:
df1= turicreate.SFrame.read_csv("/content/data_mining_2022/file_gen/queries_content.csv")

Finished parsing file /content/data_mining_2022/file_gen/queries_content.csv

Parsing completed. Parsed 100 lines in 0.075486 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 100 lines. Lines per second: 3433.71

Finished parsing file /content/data_mining_2022/file_gen/queries_content.csv

Parsing completed. Parsed 100 lines in 0.039613 secs.

In [24]:
df1

Columns:
	Surname	str
	Name	str
	City	str
	Profession	str
	Age	int

Rows: 100

Data:
+----------+-----------+------------+-----------------------------+-----+
| Surname  |    Name   |    City    |          Profession         | Age |
+----------+-----------+------------+-----------------------------+-----+
|  Smith   |  Abigail  | Amsterdam  |          accountant         |  5  |
| Johnson  |    Adam   |   Athens   |            actor            |  6  |
| Sullivan |  Wojchek  |  Auckland  |        web developer        |  99 |
| Williams |   Aiden   |    Baku    |        acupuncturist        |  7  |
| Simmons  |  Scarlett |  Bangkok   | public relations specialist |  86 |
|  Jones   |  Adriana  | Barcelona  |        administrator        |  8  |
| Griffin  |   Teddy   |  Beijing   |      software developer     |  92 |
|  Brown   |  Ainsley  |  Belgrade  |   adult education teacher   |  9  |
|  Davis   |    Alex   |   Berlin   |    advertising executive    |  10 |
|  Garcia  | Alexander | Birmingham |      aerospace engineer     |  11 |
+----------+-----------+------------+-----------------------------+-----+
[100 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

TF-IDF

In [25]:
df1['tf_idf'] = turicreate.text_analytics.tf_idf(df1['Profession'])

In [26]:
df1['tf_idf']

dtype: dict
Rows: 100
[{'accountant': 4.605170185988092}, {'actor': 4.605170185988092}, {'developer': 3.912023005428146, 'web': 4.605170185988092}, {'acupuncturist': 4.605170185988092}, {'relations': 4.605170185988092, 'specialist': 3.912023005428146, 'public': 4.605170185988092}, {'administrator': 4.605170185988092}, {'developer': 3.912023005428146, 'software': 4.605170185988092}, {'education': 4.605170185988092, 'teacher': 3.912023005428146, 'adult': 4.605170185988092}, {'executive': 4.605170185988092, 'advertising': 4.605170185988092}, {'engineer': 2.302585092994046, 'aerospace': 4.605170185988092}, {'engineer': 2.302585092994046, 'agricultural': 3.506557897319982}, {'scientist': 2.995732273553991, 'agricultural': 3.506557897319982}, {'technologist': 3.2188758248682006, 'agricultural': 3.506557897319982}, {'controller': 4.605170185988092, 'traffic': 4.605170185988092, 'air': 4.605170185988092}, {'mechanic': 4.605170185988092, 'aircraft': 4.605170185988092}, {'technologist': 3.2188758248682006, 'laboratory': 4.605170185988092, 'medical': 3.912023005428146}, {'pilot': 3.912023005428146, 'airline': 4.605170185988092}, {'physiotherapist': 4.605170185988092}, {'therapist': 3.2188758248682006, 'occupational': 4.605170185988092}, {'sociologist': 4.605170185988092}, {'trainer': 3.912023005428146, 'animal': 4.605170185988092}, {'housewife': 4.605170185988092}, {'dealer': 4.605170185988092, 'antique': 4.605170185988092}, {'archaeologist': 4.605170185988092}, {'architect': 4.605170185988092}, {'astronaut': 4.605170185988092}, {'artist': 4.605170185988092}, {'astronomer': 4.605170185988092}, {'prisoner': 4.605170185988092}, {'trainer': 3.912023005428146, 'athletic': 4.605170185988092}, {'audiologist': 4.605170185988092}, {'engineer': 2.302585092994046, 'automotive': 4.605170185988092}, {'manager': 3.506557897319982, 'aviation': 4.605170185988092}, {'banker': 4.605170185988092}, {'baker': 4.605170185988092}, {'optometrist': 4.605170185988092}, {'scientist': 2.995732273553991, 'data': 4.605170185988092}, {'barber': 4.605170185988092}, {'midwife': 4.605170185988092}, {'beautician': 4.605170185988092}, {'psychologist': 4.605170185988092}, {'nurse': 3.912023005428146}, {'engineer': 2.302585092994046, 'biomedical': 3.912023005428146}, {'scientist': 2.995732273553991, 'biomedical': 3.912023005428146}, {'bookkeeper': 4.605170185988092}, {'worker': 4.605170185988092, 'social': 4.605170185988092}, {'therapist': 3.2188758248682006, 'speech': 4.605170185988092}, {'manager': 3.506557897319982, 'business': 4.605170185988092}, {'botanist': 4.605170185988092}, {'carpenter': 4.605170185988092}, {'chiropractor': 4.605170185988092}, {'engineer': 2.302585092994046, 'civil': 4.605170185988092}, {'dentist': 4.605170185988092}, {'planner': 3.506557897319982}, {'veterinarian': 4.605170185988092}, {'dietitian': 4.605170185988092}, {'doctor': 4.605170185988092}, {'statistician': 4.605170185988092}, {'electrician': 4.605170185988092}, {'pilot': 3.912023005428146}, {'engineer': 2.302585092994046, 'electronics': 4.605170185988092}, {'plumber': 4.605170185988092}, {'engineer': 2.302585092994046}, {'entrepreneur': 4.605170185988092}, {'engineer': 2.302585092994046, 'environmental': 3.912023005428146}, {'scientist': 2.995732273553991, 'environmental': 3.912023005428146}, {'planner': 3.506557897319982, 'event': 4.605170185988092}, {'meteorologist': 4.605170185988092}, {'analyst': 4.605170185988092, 'financial': 3.506557897319982}, {'planner': 3.506557897319982, 'financial': 3.506557897319982}, {'officer': 4.605170185988092, 'police': 4.605170185988092}, {'fighter': 4.605170185988092, 'fire': 4.605170185988092}, {'manager': 3.506557897319982, 'financial': 3.506557897319982}, {'technologist': 3.2188758248682006}, {'therapist': 3.2188758248682006}, {'geologist': 4.605170185988092}, {'agent': 4.605170185988092, 'estate': 4.605170185988092, 'real': 4.605170185988092}, {'teacher': 3.912023005428146}, {'representative': 4.605170185988092, 'sales': 4.605170185988092}, {'hairstylist': 4.605170185988092}, {'historian': 4.605170185988092}, {'homeopath': 4.605170185988092}, {'designer': 3.912023005428146, 'industrial': 3.912023005428146}, {'scientist': 2.995732273553991, 'political': 4.605170185988092}, {'engineer': 2.302585092994046, 'industrial': 3.912023005428146}, {'paleontologist': 4.605170185988092}, {'designer': 3.912023005428146, 'interior': 4.605170185988092}, {'journalist': 4.605170185988092}, {'judge': 4.605170185988092}, {'technologist': 3.2188758248682006, 'medical': 3.912023005428146}, {'nurse': 3.912023005428146, 'registered': 4.605170185988092}, {'pharmacist': 4.605170185988092}, {'lawyer': 4.605170185988092}, {'librarian': 4.605170185988092}, {'consultant': 4.605170185988092, 'management': 4.605170185988092}, {'writer': 4.605170185988092}, {'researcher': 4.605170185988092, 'market': 4.605170185988092}, {'specialist': 3.912023005428146, 'marketing': 4.605170185988092}, {'therapist': 3.2188758248682006, 'massage': 4.605170185988092}, {'engineer': 2.302585092994046, 'mechanical': 4.605170185988092}]

In [27]:
def sframe_to_scipy(x, column_name):
    '''
    Convert a dictionary column of an SFrame into a sparse matrix format where
    each (row_id, column_id, value) triple corresponds to the value of
    x[row_id][column_id], where column_id is a key in the dictionary.
       
    Example
    >>> sparse_matrix, map_key_to_index = sframe_to_scipy(sframe, column_name)
    '''
    assert type(x[column_name][0]) == dict, \
        'The chosen column must be dict type, representing sparse data.'
    
    # 1. Add a row number (id)
    x = x.add_row_number()

    # 2. Stack will transform x to have a row for each unique (row, key) pair.
    x = x.stack(column_name, ['feature', 'value'])

    # Map feature words to integers 
    unique_words = sorted(x['feature'].unique())
    mapping = {word:i for i, word in enumerate(unique_words)}
    x['feature_id'] = x['feature'].apply(lambda x: mapping[x])

    # Create numpy arrays that contain the data for the sparse matrix.
    row_id = np.array(x['id'])
    col_id = np.array(x['feature_id'])
    data = np.array(x['value'])
    
    width = x['id'].max() + 1
    height = x['feature_id'].max() + 1
    
    # Create a sparse matrix.
    mat = csr_matrix((data, (row_id, col_id)), shape=(width, height))
    return mat, mapping

In [28]:
tf_idf, map_index_to_word = sframe_to_scipy(df1, 'tf_idf')

In [29]:
tf_idf.shape

(100, 115)

In [30]:
from sklearn.preprocessing import normalize
tf_idf = normalize(tf_idf)

<h4>Here we will work with the Euclidean distance (normalized, it will be equivalent to the cosine distance). <br>
In the data cleaning part, we want to transform the <strong> City</strong> and <strong> Profession </strong> columns into numerical data, to be useful for the similarity measure, for this we need two datasets: <br>
<ul>
<li>A dataset of culturally similar cities (because people from same cultures tend to have similar tastes, behaviors...) </li>
<li>A dataset of similar occupations (we can transform the Profession column into categorical data (science, art, law), then into numerical data) </li>
</ul>

<h4>For the similarity measurement, two options are available: <br>
<ul>
<li>We can have a symmetric square matrix S of size n²=length(df)², indication the similarity between each two queries. <br>
But, calculating the S matrix will be computationally costly, at best complexity of O(n²) </li>
<li>Clustering  </li>
</h4>

In [31]:
df= pd.read_csv("/content/data_mining_2022/file_gen/queries_content.csv")

In [32]:
df

     Surname       Name        City                   Profession  Age
0      Smith    Abigail   Amsterdam                   accountant    5
1    Johnson       Adam      Athens                        actor    6
2   Sullivan    Wojchek    Auckland                web developer   99
3   Williams      Aiden        Baku                acupuncturist    7
4    Simmons   Scarlett     Bangkok  public relations specialist   86
..       ...        ...         ...                          ...  ...
95   Wallace        Kek  Wellington                       writer  100
96    Brooks  Elizabeth     Wroclaw            market researcher   67
97     Kelly       Ella     Yerevan         marketing specialist   68
98   Sanders      Emily      Zagreb            massage therapist   69
99     Price       Evan      Zurich          mechanical engineer   70

[100 rows x 5 columns]

<h4>For now, we will only work with the <strong>Age </strong> column, the rest of the work will remain the same since we should only change the formula for the Euclidean distance.
</h4>

<h2> S Matrix
</h2>

In [123]:
#the S matrix will contain distances of each query to the other queries
#then we normalize rows of the S matrix
#When people talk about generations, they're referring to all those born within roughly a 20-year period
#So we will set 20 as a threshold to similarity 

S=np.zeros(df.shape[0]**2).reshape(df.shape[0], df.shape[0])
for i in range (df.shape[0]):
  for j in range (i+1,df.shape[0]):
    S[i,j]=abs(df.iloc[i][4] - df.iloc[j][4])
    S[j,i]=S[i,j]

a=S.sum(1)   #we will use these values, to normalize the value 20 (threshold) for each query, 
             #and we will put it in S[i,i]

from sklearn.preprocessing import normalize
S=normalize(S, axis=1, norm='l1')
for i in range (S.shape[0]):
  S[i,i]=20/a[i]

In [201]:
from numpy.lib import row_stack
#we will add a new column to df, "Similar_Queries"
#which will contain a matrix of the most similar queries to each query, and the similarity values
#These values will be normalized, and will be used as weights when calculating the missing ratings

a=[]
for i in range (S.shape[0]):
  b=[]
  for j in range (S.shape[0]):
    if S[i,j]<S[i,i] :
      b.append([j,S[i,j]])
  a.append(b)
df['Similar_Queries']=a

df['Similar_Queries']=df['Similar_Queries'].apply(lambda x: np.array(x).reshape(len(x),2), 1)

for i in range (df.shape[0]):
  df['Similar_Queries'][i][:,1]=normalize(df['Similar_Queries'][i][:,1].reshape(-1, 1), axis=0, norm='l1').reshape(1,-1)

In [205]:
#for a query that we want to rate, for a random user
#Similar queries that are not rated

In [199]:
normalize(df['Similar_Queries'][0][:,1].reshape(-1, 1), axis=0, norm='l1').reshape(1,-1)
#df['Similar_Queries'][0][:,1].reshape(-1, 1)

array([[0.00526316, 0.01052632, 0.01578947, 0.02105263, 0.02631579,
        0.03157895, 0.03684211, 0.04210526, 0.04736842, 0.05263158,
        0.05789474, 0.06315789, 0.06842105, 0.07368421, 0.07894737,
        0.08421053, 0.09473684, 0.08947368, 0.1       ]])

In [203]:
df

,Surname,Name,City,Profession,Age,Similar_Queries
0,Smith,Abigail,Amsterdam,accountant,5,"[[1.0, 0.005263157894736843], [3.0, 0.01052631..."
1,Johnson,Adam,Athens,actor,6,"[[0.0, 0.005235602094240838], [3.0, 0.00523560..."
2,Sullivan,Wojchek,Auckland,web developer,99,"[[4.0, 0.06341463414634146], [6.0, 0.034146341..."
3,Williams,Aiden,Baku,acupuncturist,7,"[[0.0, 0.010362694300518135], [1.0, 0.00518134..."
4,Simmons,Scarlett,Bangkok,public relations specialist,86,"[[2.0, 0.036011080332409975], [6.0, 0.01662049..."
...,...,...,...,...,...,...
95,Wallace,Kek,Wellington,writer,100,"[[2.0, 0.005], [4.0, 0.07], [6.0, 0.04], [19.0..."
96,Brooks,Elizabeth,Wroclaw,market researcher,67,"[[4.0, 0.049999999999999996], [15.0, 0.0105263..."
97,Kelly,Ella,Yerevan,marketing specialist,68,"[[4.0, 0.04736842105263159], [15.0, 0.00789473..."
98,Sanders,Emily,Zagreb,massage therapist,69,"[[4.0, 0.04473684210526315], [15.0, 0.00526315..."
99,Price,Evan,Zurich,mechanical engineer,70,"[[4.0, 0.04210526315789473], [15.0, 0.00263157..."